* {
    box-sizing: border-box;
  }
  
  .body {
    font-family: sans-serif;
    /* text-align: center; */
    margin: 0%;
    padding: 0%;
  }
  
  #root {
    display: grid;
    grid-template-columns: 400px 1fr;
    font-family: serif;
  }
  
  img {
    width: 500px;
  }
  
  .img-container {
    border-radius: 1px solid black;
  }
  
  .inventory-section {
    /* display: grid;
    grid-template-columns: auto 1fr; */
    width: 300px;
  }
  .box {
    border: 1px solid;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    padding: 10px;
  }
  
  .form-label {
    margin-top: 10px;
  }
  
  .btn {
    width: 80px;
    background-color: aliceblue;
    border-radius: 5px;
    color: black;
  }
  
  .label-radius {
    border-radius: 5px;
  }
  
  
  